<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="DoubleM_UDL" value="DoubleM.udl" />
		<add key="ExcelExport" value="DoubleM.xls" />
		<add key="DoubleM_SecurityKey" value="DKSZ1115089" />
		<add key="Firewall" value="True" />
		<add key="Proxy" value="kolproxy.omsoft.com:8080" />
		<add key="UID" value="xxx" />
		<add key="PWD" value="vLZK56+Vagy5VD5C5s3a5g==" />
		<add key="LatestPriceNotOldtThanHour" value="14" />
		<add key="Batchkey" value="DRJ" />

	</appSettings>

</configuration>